<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../public/css/style.css" type="text/css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
</head>
<body>
    <div id="headerandinput">
    <h1 id="headertodo">To-Do List</h1>
        <input class="textitem" name="textitem" type="text" placeholder="Add your new todo">
        <span>&#43;</span>
    </div>

    <ul>
        <li></li>
    </ul>

</body>
</html>