
    
    
    <link rel="stylesheet" href="../public/css/style.css" type="text/css">
 
    
    <div id="headerandinput">
    <h1 id="headertodo">To-Do List</h1>
        <form method="POST" action="/todos">
        <input name="id" type="number" placeholder="add task number">
        <input class="textitem" name="title" type="text" placeholder="Add your new todo">
        <!-- <input class="description" name="description" type="text" placeholder="Enter more detail about your task"> -->
        <button onClick="this.form.submit()" type="submit">&#43;</button>
    </form>
    </div>

    <ul>
        <% todos.map((todos)=> { %>
            <li>
                <h2>
                    <%= todos.title %>
                </h2>
                <p>
                    <%= todos.description %>
                </p>
            </li>
            <hr />
        <% }) %>
    </ul>


